{% extends "layout.html" %}
{% block title %}Organization Directory{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}
{% from "sort_filter.html" import sort_filter %}
<div class="container-fluid">
    <div class="h1 text-center">Organization Directory</div>
    <form method="GET">
        <div class="row">
            <!-- Organization Name Filter -->
            <div class="col">
                <label class="visually-hidden" for="name">Organization Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       value="{{ request.args.get('name') or '' }}" placeholder="Organization Name">
            </div>

            <!-- Country/State Filter -->
            {{ country_state_selector(layout="horizontal") }}

            <!-- Sort Filter -->
            <!-- Sort Filter -->
            {{ sort_filter(cols=allowed_columns) }}

            <!-- Limit Filter -->
            <div class="col">
                <label class="visually-hidden" for="limit">Limit</label>
                <input type="number" class="form-control" id="limit" name="limit"
                       value="{{ request.args.get('limit', 10) }}" placeholder="Limit">
            </div>

            <div class="col">
                <input type="submit" class="btn btn-primary" value="Filter" />
            </div>
            <div class="col">
                <a href="?" class="btn btn-secondary">Reset</a>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table">
            {% if rows and rows|length > 0 %}
            <thead>
                <tr class="text-capitalize">
                    {% for col in allowed_columns %}
                        {% if col[0] not in ['id', 'organization_id'] %}
                            <th>{{ col[1]|replace("_", " ") }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for col in allowed_columns %}
                            {% if col[0] not in ['id', 'organization_id'] %}
                                {% if col == 'website' %}
                                    <td><a href="{{ row[col[0]] }}" target="_blank">Website</a></td>
                                {% else %}
                                    <td>{{ row[col[0]] }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a href="{{ url_for('donations.search', organization_id=row['id']) }}"
                               class="btn btn-primary">View Donations</a>
                            <a href="{{ url_for('organization.edit', id=row['id']) }}"
                               class="btn btn-primary">Edit</a>
                            <a href="{{ url_for('organization.delete', id=row['id'], **request.args) }}"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td colspan="{{ allowed_columns|length + 1 }}">No results to show</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
